<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Message Service</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <style>
        h1 {
         color: blue;
         margin: 10%;
        }

        body {
        background-color: black;
        }
    </style>

    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a th:href="@{/index}">
            <button class="btn btn-primary" type="submit">Back</button>
        </a>
    </nav>

</head>

<body>
<div class="container my-2" align="center">

    <h1 class="display-1">Nothing has been found :-(</h1>

</div>

</body>
</html>